<div class="calendar-views">

    <div role="tabpanel" class="tab-pane" id="all-years">
        <div class="container">
            {{#each plannableQuarters}}
                <div id="{{id}}" class="quarter col-xs-4 {{qState}}">
                    <h5>{{Q}}<br/>{{year}}</h5>
                    <ul>
                        {{#each classes}}
                            <li>{{this}}</li>
                        {{/each}}
                    </ul>
                </div>
                {{#ifThird @index }}
                    <div class="clearfix"></div>
                {{/ifThird}}
            {{/each}}
            <div class="col-xs-4 new-quarter" style="opacity: 0.7">

                <h5><!--<i class="glyphicon glyphicon-plus"></i><br/>-->Add a Quarter</h5>
            </div>
        </div>
    </div>

</div>

<script>
    backButtonStack = [];
    $('#logo').show();
    $('#back-btn').hide();
    $('.quarter').click( showClickedQuarter );
</script>