<div id="all-years" class="container choose-quarter">
    <h1 style="text-align: center">Pick a Quarter</h1>
    {{#each plannableQuarters}}
        <div id="{{id}}" class="quarter addToQuarter col-xs-4 {{qState}}">
            <h5>{{Q}}<br/>{{year}}</h5>
            <ul>
                {{#each classes}}
                    <li>{{this}}</li>
                {{/each}}
            </ul>

        </div>
        {{#ifThird @index }}
            <div class="clearfix"></div>
        {{/ifThird}}
    {{/each}}
    <div class="choosenClass" style="display:none;">{{choosenClass}}</div>
</div>