<div class="container course-description">
    <h2>{{name}} ({{units}})</h2>
    <p>{{description}}</p>
    <h4>Prerequisites</h4>
    <ul>
        {{#each prereqs}}
            <li>{{this}}</li>
        {{/each}}
    </ul>

    <a href="{{evalsURL}}"><button class="btn">CAPE Evaluations</button></a>
    <a id="{{id}}" href="{{addURL}}"><button class="btn add">Add to Planner</button></a>
</div>