<div class="container course-description">
    <h1>{{nameShort}}</h1>
    <h2>{{name}} {{units}}</h2>
    <p>{{description}}</p>
    <h4>Prerequisites</h4>
    <ul>
        {{#each prereqs}}
            <li>{{this}}</li>
        {{/each}}
    </ul>

    <!--<a href="{{evalsURL}}"><button class="btn">CAPE Evaluations</button></a>-->
    <a id="{{id}}" href="{{addURL}}"><button class="btn pull-right btn-default add">Add to Planner</button></a>
</div>

<script>
    $(".course-description .add")[0].addEventListener('click', showQuarterSelection);
</script>