<!DOCTYPE html>
<html>
<head>
    <title>Triton Planner</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-theme.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
    
  <header>

    <h1><a href="/"><img id="logo" src="/images/TritonPlannerLogo.jpg"></a>
        <span>Triton Planner</span>
        <img id="menu-btn" src="/images/gear.png">
    </h1>

  </header>
  
  <div class="container">
        <div class='general-info'>
            <p>College: {{info.college}}</p>
            <p>Major: {{info.major}}</p>
            <p>UC GPA: {{info.gpa}}</p>
            <p>Total Units Completed: {{info.unitsTotal}}</p>
            <p>UC Graded Units: {{info.ucUnits}}</p>
        </div>



        <div class="accordion" id="accordion2">
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                University Requirements
              </a>
            </div>
            <div id="collapseOne" class="accordion-body collapse">
              <div class="accordion-inner">
                <ul>
                    <li>Diversity Course <span style="color: red;">3/4</span> <br/>
                        <a href="/courses">Add a course to fullfil requirement</a>
                    </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                {{info.college}} College Requirements
              </a>
            </div>
            <div id="collapseTwo" class="accordion-body collapse">
              <div class="accordion-inner">
                Anim pariatur cliche...
              </div>
            </div>
          </div>
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#collapseThree">
                {{info.major}} Requirements
              </a>
            </div>
            <div id="collapseThree" class="accordion-body collapse">
              <div class="accordion-inner">
                Anim pariatur cliche...
              </div>
            </div>
          </div>
        </div>
    </div>

    <script src="/js/jquery-1.11.0.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/functions.js"></script>
</body>
</html>
